@import "../../styles/globals.scss";

.btn {
  font-size: 12px;
  width: 7em;
  height: 3em;
  border: 1px solid $border-grey;
  border-radius: 3px;
  color: grey;
  background: white;
  cursor: pointer;

  &:hover {
    color: $primary;
    border-color: $primary;
  }

  &[disabled]{
    color: white;
    background: grey;
    border: 0;
    cursor: not-allowed;
    &:hover {
      color: white;
      background: grey;
    }
  }
  
}

.btn--circle{
  width: 3em;
  height: 3em;
  border-radius: 50%;
}


.btn--primary {
  background: $primary;
  color: white;
  border: 0;
  &:hover {
    color: white;
    background: lighten($primary, 10%);
  }
}

.btn--danger {
  background: $danger;
  color: white;
  border: 0;
  &:hover {
    color: white;
    background: lighten($danger, 10%);
  }
}

.btn--dashed {
  border: 1px dashed $border-grey;
  &:hover {
    color: $primary;
    border-color: $primary;
  }
}